$font-size: 16px;
$background: #ffffff;
$foreground: oklch(0.145 0 0);
$card: #ffffff;
$card-foreground: oklch(0.145 0 0);
$popover: oklch(1 0 0);
$popover-foreground: oklch(0.145 0 0);
$primary: #030213;
$primary-foreground: oklch(1 0 0);
$secondary: oklch(0.95 0.0058 264.53);
$secondary-foreground: #030213;
$muted: #ececf0;
$muted-foreground: #717182;
$accent: #e9ebef;
$accent-foreground: #030213;
$destructive: #d4183d;
$destructive-foreground: #ffffff;
$border: rgba(0, 0, 0, 0.1);
$input: transparent;
$input-background: #f3f3f5;
$switch-background: #cbced4;
$font-weight-medium: 500;
$font-weight-normal: 400;
$ring: oklch(0.708 0 0);
$chart-1: oklch(0.646 0.222 41.116);
$chart-2: oklch(0.6 0.118 184.704);
$chart-3: oklch(0.398 0.07 227.392);
$chart-4: oklch(0.828 0.189 84.429);
$chart-5: oklch(0.769 0.188 70.08);
$radius: 0.625rem;
$sidebar: oklch(0.985 0 0);
$sidebar-foreground: oklch(0.145 0 0);
$sidebar-primary: #030213;
$sidebar-primary-foreground: oklch(0.985 0 0);
$sidebar-accent: oklch(0.97 0 0);
$sidebar-accent-foreground: oklch(0.205 0 0);
$sidebar-border: oklch(0.922 0 0);
$sidebar-ring: oklch(0.708 0 0);

$dark-background: oklch(0.145 0 0);
$dark-foreground: oklch(0.985 0 0);
$dark-card: oklch(0.145 0 0);
$dark-card-foreground: oklch(0.985 0 0);
$dark-popover: oklch(0.145 0 0);
$dark-popover-foreground: oklch(0.985 0 0);
$dark-primary: oklch(0.985 0 0);
$dark-primary-foreground: oklch(0.205 0 0);
$dark-secondary: oklch(0.269 0 0);
$dark-secondary-foreground: oklch(0.985 0 0);
$dark-muted: oklch(0.269 0 0);
$dark-muted-foreground: oklch(0.708 0 0);
$dark-accent: oklch(0.269 0 0);
$dark-accent-foreground: oklch(0.985 0 0);
$dark-destructive: oklch(0.396 0.141 25.723);
$dark-destructive-foreground: oklch(0.637 0.237 25.331);
$dark-border: oklch(0.269 0 0);
$dark-input: oklch(0.269 0 0);
$dark-ring: oklch(0.439 0 0);
$dark-font-weight-medium: 500;
$dark-font-weight-normal: 400;
$dark-chart-1: oklch(0.488 0.243 264.376);
$dark-chart-2: oklch(0.696 0.17 162.48);
$dark-chart-3: oklch(0.769 0.188 70.08);
$dark-chart-4: oklch(0.627 0.265 303.9);
$dark-chart-5: oklch(0.645 0.246 16.439);
$dark-sidebar: oklch(0.205 0 0);
$dark-sidebar-foreground: oklch(0.985 0 0);
$dark-sidebar-primary: oklch(0.488 0.243 264.376);
$dark-sidebar-primary-foreground: oklch(0.985 0 0);
$dark-sidebar-accent: oklch(0.269 0 0);
$dark-sidebar-accent-foreground: oklch(0.985 0 0);
$dark-sidebar-border: oklch(0.269 0 0);
$dark-sidebar-ring: oklch(0.439 0 0);

$radius-sm: calc(#{$radius} - 4px);
$radius-md: calc(#{$radius} - 2px);
$radius-lg: $radius;
$radius-xl: calc(#{$radius} + 4px);
